[submodule "SupContrast"]
	path = SupContrast
	url = https://github.com/HobbitLong/SupContrast.git
[submodule "affectnet_regression/KDEweightedMSE"]
	path = affectnet_regression/KDEweightedMSE
	url = https://github.com/nRknpy/KDEweightedMSE.git
