[submodule "SupContrast"]
	path = SupContrast
	url = https://github.com/HobbitLong/SupContrast.git
[submodule "affectnet_regression/KDEweightedMSE"]
	path = affectnet_regression/KDEweightedMSE
	url = https://github.com/nRknpy/KDEweightedMSE.git
[submodule "FERPlus"]
	path = FERPlus
	url = https://github.com/microsoft/FERPlus.git
[submodule "affectnet_contrastive/SupContrast"]
	path = affectnet_contrastive/SupContrast
	url = https://github.com/HobbitLong/SupContrast.git
