[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[packages]
transformers = "*"
datasets = "*"
ffmpeg-python = "*"
opencv-python = "*"
imageio = "*"
numpy = "*"
scipy = "*"
ipython = "*"
scikit-learn = "*"
boto3 = "*"
matplotlib = "*"
pytorchvideo = "*"
umap-learn = "*"
pandas = "*"
pillow = "*"
wandb = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
ipykernel = "*"
autopep8 = "*"
optuna = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"

[scripts]
smi = "watch -n 2 nvidia-smi"
